# Environment
.env

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Node-RED runtime
nodered/data/

# InfluxDB
influxdb/data/
influxdb/config/

# Logs
*.log